In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("合作.xlsx", 0, na_values="")
df

     部门                公司   项目名         日期
0  投行总部    中邮创业基金管理股份有限公司  债券发行 2012-01-20
1  广发资管        原子高科股份有限公司  债券发行 2008-03-01
2  广发资管  徐州中煤百甲重钢科技股份有限公司  定向增发 2018-09-20
3   债券部   北京海鑫科金高科技股份有限公司  债券发行 2003-03-18
4   固收部   北京挖金客信息科技股份有限公司  债券发行 2013-05-29
5   债券部   北京海鑫科金高科技股份有限公司  售后回租 2018-01-10
6  广发资管   北京挖金客信息科技股份有限公司  债券发行 2021-12-07
7  投行总部    中邮创业基金管理股份有限公司  售后回租 2005-06-09
8  投行总部  徐州中煤百甲重钢科技股份有限公司  债券发行 2005-07-03

In [6]:
df1=df.groupby(["部门","公司"]).agg({'日期':'min'})
df1

                              日期
部门   公司
债券部  北京海鑫科金高科技股份有限公司  2003-03-18
固收部  北京挖金客信息科技股份有限公司  2013-05-29
广发资管 北京挖金客信息科技股份有限公司  2021-12-07
     原子高科股份有限公司       2008-03-01
     徐州中煤百甲重钢科技股份有限公司 2018-09-20
投行总部 中邮创业基金管理股份有限公司   2005-06-09
     徐州中煤百甲重钢科技股份有限公司 2005-07-03

In [7]:
df2=df.groupby(["部门","公司"]).agg({'日期':'max'})
df2

                              日期
部门   公司
债券部  北京海鑫科金高科技股份有限公司  2018-01-10
固收部  北京挖金客信息科技股份有限公司  2013-05-29
广发资管 北京挖金客信息科技股份有限公司  2021-12-07
     原子高科股份有限公司       2008-03-01
     徐州中煤百甲重钢科技股份有限公司 2018-09-20
投行总部 中邮创业基金管理股份有限公司   2012-01-20
     徐州中煤百甲重钢科技股份有限公司 2005-07-03

In [10]:
df11=df1.reset_index()
df22=df2.reset_index()
df11

     部门                公司         日期
0   债券部   北京海鑫科金高科技股份有限公司 2003-03-18
1   固收部   北京挖金客信息科技股份有限公司 2013-05-29
2  广发资管   北京挖金客信息科技股份有限公司 2021-12-07
3  广发资管        原子高科股份有限公司 2008-03-01
4  广发资管  徐州中煤百甲重钢科技股份有限公司 2018-09-20
5  投行总部    中邮创业基金管理股份有限公司 2005-06-09
6  投行总部  徐州中煤百甲重钢科技股份有限公司 2005-07-03

In [11]:
df3=pd.merge(df11, df22, how='left',left_on=['部门', '公司'],right_on=['部门', '公司'])
df3

     部门                公司       日期_x       日期_y
0   债券部   北京海鑫科金高科技股份有限公司 2003-03-18 2018-01-10
1   固收部   北京挖金客信息科技股份有限公司 2013-05-29 2013-05-29
2  广发资管   北京挖金客信息科技股份有限公司 2021-12-07 2021-12-07
3  广发资管        原子高科股份有限公司 2008-03-01 2008-03-01
4  广发资管  徐州中煤百甲重钢科技股份有限公司 2018-09-20 2018-09-20
5  投行总部    中邮创业基金管理股份有限公司 2005-06-09 2012-01-20
6  投行总部  徐州中煤百甲重钢科技股份有限公司 2005-07-03 2005-07-03

In [18]:
df3["合作年限"]=df3["日期_y"].dt.year-df3["日期_x"].dt.year+1
df3

     部门                公司       日期_x       日期_y  合作年限
0   债券部   北京海鑫科金高科技股份有限公司 2003-03-18 2018-01-10    16
1   固收部   北京挖金客信息科技股份有限公司 2013-05-29 2013-05-29     1
2  广发资管   北京挖金客信息科技股份有限公司 2021-12-07 2021-12-07     1
3  广发资管        原子高科股份有限公司 2008-03-01 2008-03-01     1
4  广发资管  徐州中煤百甲重钢科技股份有限公司 2018-09-20 2018-09-20     1
5  投行总部    中邮创业基金管理股份有限公司 2005-06-09 2012-01-20     8
6  投行总部  徐州中煤百甲重钢科技股份有限公司 2005-07-03 2005-07-03     1

In [19]:
with pd.ExcelWriter("./结果.xlsx") as writer:
    df3.to_excel(writer,encoding="utf_8_sig", index=False)